<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
 <listener class-name="Resources.listners"/>
  <listener class-name="Resources.ExtentReporterNG"/>
 </listeners>
  <test name="TestHome">
    <classes>
      <class name="Program.Yahoo_HomePage_Program"/>
    </classes>
  </test> <!-- Test -->
   <test name="TestEmail">
    <classes>
      <class name="Program.YahooEmailPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
